*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav{
  background-color: rgba(210, 105, 30, 0.507);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.logoLink{
text-decoration: none;
font-weight: bolder;
}

.App{
  height: 90vh ;
}

.mainPage{
 display: flex;
 flex-direction: column;
 align-items: center;

}